/*NMSU CS485 Fall 2023 Project*/

/* font for all pages */
body {
  --bs-body-font-family: "Montserrat", sans serif;
  /* padding-bottom: 80px; */
}

/* height constaint */

.c-item {
  height: 480px;
  /* padding-top: 80px; */
}

.c-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  /* margin: auto; */
}



#myButton.btn-primary {
  color: black;
  background-color: white;
  border-color: #534d56;
}
#myButton.btn-primary:hover {
  background-color: #534d56;
  border-color: white;
}


/* ADD CSS rules here */
