/*NMSU CS485 Fall 2023 Project*/

/*layout*/
html, body{
  padding:0;
  margin:0;
  height:100%;
}

/*flex applied to everything in the page*/
.wrapper{
  display: flex;
  flex-direction: column;
  min-height:100%;
  min-height:100vh;
  min-height:100svh;
  /*position:relative;*/
}

/* font for all pages */
body, p, a{
  --bs-body-font-family: Montserrat,sans-serif !important;
  /* padding-bottom: 80px; */
  font-family:Montserrat,sans-serif !important;
}
/*
article{
  padding-bottom: 12rem; /*height of footer
}
*/

/*this makes the footer go down*/
.wrapper footer{
  margin-top: auto;
  /*
  position:absolute;
  width:100%;
  height:12rem;
  */
}

footer{
  color: #F5F2F0;
}


/* height constaint */

.c-item {
  height: 480px;
  /* padding-top: 80px; */
}

.c-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  /* margin: auto; */
}

#myButton.btn-primary {
  color: black;
  background-color: #F5F2F0;
  border-color: #534d56;
}
#myButton.btn-primary:hover {
  background-color: #28C880;
  border-color: #F5F2F0;
}


#myButtonBlog.btn-primary {
  color: #F5F2F0;
  background-color: #4F80FC;
  border-color: #F5F2F0;
}
#myButtonBlog.btn-primary:hover {
  background-color: #28C880;
  border-color: #F5F2F0;
}

.navbar-brand img{
  max-height: 90px;
  width: auto;
}

#careers>.container{ 
  background-color: #4F80FC;
  color: white;
}



/*Jonathan's CSS Rules */


#navBarColorBG{
  background-color: #4F80FC;
}


      /* CSS code */
      .square {

        width: 300px;
        height: 225px; 
        background-color: #4F80FC;
        color: white;
        text-align: center;
        line-height: 50px;

        position: relative;

        top: -10%;
        left: 17.5%;
        transform: translate(-17.5%, 10%);

        border: 20px #123a17;

        margin-right: 30px;
        display: inline-block;

    }

    .inner-square {

        width: 150px;
        height: 30px;
        background-color: #FFFFFF;
        color: #000000;
        text-align: center;
        line-height: 34px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -85%);
        opacity: 0;

        transition: opacity 0.4s ease;
        z-index: 1;
        cursor: pointer;
    }


    .inner-content ul {
        padding: 0px;
    }

    .inner-content li {
        margin-bottom: -20px;
        margin-left: 45px;
        position: relative;
        top: -30px;
        text-align: left;
    }

    .inner-content p {
        padding: 0px;
    }

    .square:hover {
        background-color: #28C880;
    }

    .square:hover .inner-square {
        opacity: 1;
    }

    .popup {
        display: none;
        position: fixed;
        height: 275px;
        width: 1000px;
        top: 50%;
        left: 50%;
        color: #FFFFFF;
        transform: translate(-50%, -50%);
        background-color: #4F80FC;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        z-index: 2;
        border: 2px solid #28C880;
    }

    .button {
        margin-right: 30px;

    }

    #buttonSquare {

        border: 1px solid #4F80FC;
        /* Border properties */
        border-radius: 5px;
        text-align: center;
       
    }


   

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    /* body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      color: black;
    } */
    #container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding: 2px 16px;
    }
    #container > div {
      padding: 1rem;
      margin: 1rem;
      width: 7rem;
    }
    #container span {
      font-size: 2rem;
      font-weight: bold;
    }
    #container h4 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0;
      margin-top: 1rem;
    }

    /* #response-display {
      /* color: blue; Example: change text color to blue */
      /* font-size: 16px; Example: set font size to 16px */
      /* Add any other styles you want */
  /* } */